---
http_interactions:
- request:
    method: get
    uri: https://api.myip.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"ip":"178.66.157.205","country":"Russian Federation","cc":"RU"}'
  recorded_at: Fri, 23 Sep 2022 14:25:24 GMT
- request:
    method: get
    uri: http://ipinfo.io/178.66.157.205/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "178.66.157.205",
          "hostname": "pppoe.178-66-157-205.dynamic.avangarddsl.ru",
          "city": "Saint Petersburg",
          "region": "St.-Petersburg",
          "country": "RU",
          "loc": "59.9386,30.3141",
          "org": "AS12389 PJSC Rostelecom",
          "postal": "190000",
          "timezone": "Europe/Moscow",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Fri, 23 Sep 2022 14:25:24 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<API_KEY>&lat=59.9386&lon=30.3141&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":30.3125,"lat":59.9385},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":12.05,"feels_like":10.93,"temp_min":11.73,"temp_max":12.05,"pressure":1018,"humidity":62},"visibility":10000,"wind":{"speed":3,"deg":50},"clouds":{"all":40},"dt":1663942641,"sys":{"type":1,"id":8926,"country":"RU","sunrise":1663904684,"sunset":1663948665},"timezone":10800,"id":519690,"name":"Novaya
        Gollandiya","cod":200}'
  recorded_at: Fri, 23 Sep 2022 14:25:24 GMT
recorded_with: VCR 6.1.0
