---
http_interactions:
- request:
    method: get
    uri: https://api.myip.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"ip":"178.66.157.205","country":"Russian Federation","cc":"RU"}'
  recorded_at: Thu, 22 Sep 2022 15:37:57 GMT
- request:
    method: get
    uri: http://ipinfo.io/178.66.157.205/geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "ip": "178.66.157.205",
          "hostname": "pppoe.178-66-157-205.dynamic.avangarddsl.ru",
          "city": "Saint Petersburg",
          "region": "St.-Petersburg",
          "country": "RU",
          "loc": "59.9386,30.3141",
          "org": "AS12389 PJSC Rostelecom",
          "postal": "190000",
          "timezone": "Europe/Moscow",
          "readme": "https://ipinfo.io/missingauth"
        }
  recorded_at: Thu, 22 Sep 2022 15:37:57 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<API_KEY>&lat=59.9386&lon=30.3141&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":30.3143,"lat":59.9388},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":11.05,"feels_like":9.93,"temp_min":10.62,"temp_max":11.05,"pressure":1020,"humidity":66},"visibility":10000,"wind":{"speed":2,"deg":40},"clouds":{"all":75},"dt":1663860869,"sys":{"type":1,"id":8926,"country":"RU","sunrise":1663818144,"sunset":1663862448},"timezone":10800,"id":519690,"name":"Novaya
        Gollandiya","cod":200}'
  recorded_at: Thu, 22 Sep 2022 15:37:57 GMT
recorded_with: VCR 6.1.0
